<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="base :: headerfg"></div>
    <meta charset="UTF-8">
    <title>Departments Admin</title>
</head>
<body>
<div th:replace="base :: navlinksfg"></div>

<h2>Departments</h2>


<table class = "table">
    <thead class="thead-light">
    <th scope="col-3">Department Name</th>
    <th scope="col-3">Actions</th>
    </thead>

    <tbody>
    <tr th:each="department: ${department}">
        <td th:text="${department.departmentName}"></td>
        <td>
            <button><a th:href="@{/admin/updateDepartment/{id}(id=${department.id})}">Update</a></button>
        </td>
    </tr>
    </tbody>

</table>

<div th:replace="base :: footerfg"></div>
</body>
</html>